{
    "keystone_username": "",
    "keystone_password": "",
    "keystone_tenant_name": "",
    "keystone_url": "",
    "region": "region-b.geo-1",
    "manager_public_key_name": "cloudify-$instance_name-mgmt-kp",
    "agent_public_key_name": "cloudify-$instance_name-agent-kp",
    "image_id": "f2977a84-7531-440d-9eb1-f91db3f87b72",
    "flavor_id": "102",
    "external_network_name": "Ext-Net",

    "use_existing_manager_keypair": false,
    "use_existing_agent_keypair": false,
    "manager_server_name": "$instance_name",
    "manager_server_user": "ubuntu",
    "manager_server_user_home": "/home/ubuntu",
    "manager_private_key_path": "/tmp/cloudify-$instance_name-mgmt-kp.pem",
    "agent_private_key_path": "/tmp/cloudify-$instance_name-agent-kp.pem",
    "agents_user": "ubuntu",
    "resources_prefix": "",
    "management_network": "cloudify-$instance_name-network",
    "router": "cloudify-$instance_name-router",
    "cloudify_sg_agents": "cloudify-sg-$instance_name-agents",
    "cloudify_sg_management": "cloudify-sg-$instance_name-management"
}
